<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3OstMyqCPrW_jzazOorZDJ4QRaUK8wvk</string>
	<key>GCM_SENDER_ID</key>
	<string>594113826131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>aaamin-53ef0</string>
	<key>STORAGE_BUCKET</key>
	<string>aaamin-53ef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594113826131:ios:64e219189dd2c2aaa265a6</string>
	<key>DATABASE_URL</key>
	<string>https://aaamin-53ef0-default-rtdb.firebaseio.com</string>
</dict>
</plist>